<div class="input-group comment-user", id="comment_<%= comment.id %>">
  <span class="comment-form-list"><%= link_to gravatar_for(comment.user, size: 20),
    comment.user %></span>
  <div class="comment-text word-break">
    <%= link_to comment.user.name, comment.user %>
    <%= comment.content %>
  </div>
  <span class="sub-text">
    <%= time_ago_in_words comment.created_at %>
      <% if comment.user.current_user? current_user %>
        <%= link_to t(".delete"), [comment.micropost, comment],
           method: :delete, data: { confirm: "You sure?" } %>
    <% end %>
  </span>
</div>
